<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.communet.wechatex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="io.communet.wechatex.activity.SettingsActivity_Alias"
            android:label="@string/app_name"
            android:targetActivity="io.communet.wechatex.activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <receiver android:name=".util.ConfigReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="wechat.intent.action.SAVE_WECHAT_ENHANCEMENT_CONFIG" />
            </intent-filter>
        </receiver>
    </application>

</manifest>